name: Build OpenWrt Base Source

# 触发条件：push, pull_request, 定时（每天）和手动触发（workflow_dispatch）
on:
  #push:
  #  branches:
  #    - main # 只有在 main 分支 push 时触发
  #pull_request: # PR 时触发
  #schedule:
  #  - cron: '0 0 * * *'  # 每天自动触发一次
  workflow_dispatch:  # 手动触发

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 设置编译环境和依赖
        run: |
          sudo apt update -y
          sudo apt full-upgrade -y
          sudo apt install -y ack antlr3 asciidoc autoconf automake autopoint binutils bison build-essential \
          bzip2 ccache cmake cpio curl device-tree-compiler fastjar flex gawk gettext gcc-multilib g++-multilib \
          git gperf haveged help2man intltool libc6-dev-i386 libelf-dev libfuse-dev libglib2.0-dev libgmp3-dev \
          libltdl-dev libmpc-dev libmpfr-dev libncurses5-dev libncursesw5-dev libpython3-dev libreadline-dev \
          libssl-dev libtool lrzsz mkisofs msmtp ninja-build p7zip p7zip-full patch pkgconf python3 \
          python3-pyelftools python3-setuptools qemu-utils rsync scons squashfs-tools subversion swig texinfo \
          uglifyjs upx-ucl unzip vim wget xmlto xxd zlib1g-dev

      - name: 克隆 LEDE 源码
        run: |
          git clone https://github.com/coolsnowwolf/lede
          cd lede

      - name: 更新 feeds 并安装
        run: |
          cd lede
          ./scripts/feeds update -a
          ./scripts/feeds install -a

      - name: 设置编译配置
        run: |
          cd lede
          make menuconfig  # 这里您可以根据需要修改配置

      - name: 下载 dl 库
        run: |
          cd lede
          make download -j8

      - name: 编译固件
        run: |
          cd lede
          make V=s -j1  # 官方建议第一次编译使用单线程

      - name: 保存固件输出
        uses: actions/upload-artifact@v3
        with:
          name: OpenWrt-Base-Firmware
          path: lede/bin/targets